.theme_mode_switch_wrap {
	float: right;
	display: inline-block;
	margin: 20px;
}
.theme_mode_switch_wrap .theme_mode_switch {
    width: 30px;
    height: 14px;
    background: #c37272;
    display: inline-block;
    border-radius: 20px;
    display: block;
	transition: .2s;
	position: relative;
	cursor: pointer;
}
.theme_mode_switch_wrap .theme_mode_switch:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #c33f3f;
    display: block;
    transition: .2s;
}
.theme_mode_switch_wrap .theme_mode_on.theme_mode_switch {
    background: #88d39c;
}
.theme_mode_switch_wrap .theme_mode_on.theme_mode_switch:before {
    left: 100%;
    margin-left: -19px;
    background: #26ce53;
}